* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    outline: none;
}

.title {
    font-weight: 200;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.description {
    color: rgb(155, 148, 148);
    font-weight: 500;
    text-align: center;
    font-style: italic;
    margin-bottom: 3.5rem;
}

html, body {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

body {
    background: linear-gradient(45deg, rgba(222, 176, 97, 1) 0%, rgba(244, 241, 241, 1) 50%, rgba(222, 176, 97, 1) 100%);
}

.layout-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


.auth-input {
    height: 2.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid rgb(155, 148, 148);
}

.auth-input:focus {
    border: 2px solid #108ccc;
}

.form-container {
    display:flex;
    flex-direction: column;
    background-color:white;
    border-radius: 0.5rem;
    max-height: 90%;
    max-width: 32rem;
    width: 90%;
    padding: 2.5rem;
}

.auth-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.auth-to-register {
    width: 100%;
    justify-content: center;
    border-radius: 0.5rem;
    background-color: #ffffff;
    display: flex;
    align-content: center;
    width: 100%;
}

.auth-to-register-link {
    width: 50%;
}

.auth-button {
    font-size: 1rem;
    border: none;
    width: 100%;
    height: 2.5rem;
    cursor: pointer;
    color: white;
    border-radius: 0.5rem;
}

.auth-button.login:hover, .auth-button.login:active {
    background-color: #108ccc;
}

.auth-button.register:hover, .auth-button.register:active {
    background-color: #13ac3b;
}

.auth-button.login {
    background-color: #1aa9d6;
}

.auth-button.register {
    background-color: #0dd259;
}

.button-divider {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.info {
    max-width: 16rem;
    width: 90%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.errors {
    margin-bottom: 1rem;
    font-size: 0.75rem;
    padding-left: 0.5rem;
    color: red;
    visibility: hidden;
}

